<form name="personForm" novalidate class="form-horizontal" ng-submit="vm.submit($close, personForm.$valid)" novalidate>

    <div class="modal-header">
        <h4>{{'persons.popup.title' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name" class="control-label col-xs-2">{{'persons.list.name' | translate}}</label>
            <div class="col-xs-10" ng-class="{ 'has-error' : personForm.$submitted && !personForm.name.$valid }">
                <input type="text" ng-model="vm.person.name" name="name" class="form-control" id="name" placeholder="Name" required/>
                <span class="help-block" ng-show="personForm.$submitted && personForm.name.$invalid">
                  {{'persons.error.mandatory.field' | translate}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="job" class="control-label col-xs-2">{{'persons.list.job' | translate}}</label>
            <div class="col-xs-10" ng-class="{ 'has-error' : personForm.$submitted && !personForm.job.$valid }">
                <input type="text" ng-model="vm.person.job" class="form-control" name="job" placeholder="Job title" required>
                <span class="help-block" ng-show="personForm.$submitted && personForm.job.$invalid">
                  {{'persons.error.mandatory.field' | translate}}</span>

            </div>

        </div>
        <div class="form-group">
            <label for="age" class="control-label col-xs-2">{{'persons.list.age' | translate}}</label>
            <div class="col-xs-10" ng-class="{ 'has-error' : personForm.$submitted && !personForm.age.$valid }">
                <input type="text" ng-model="vm.person.age" class="form-control"ng-change="vm.validateAgeRange(personForm)" ng-pattern="/^[1-9][0-9]*$/" name="age" placeholder="Age" required>
                <span class="help-block" ng-show="personForm.$submitted && personForm.age.$error.required">
                  {{'persons.error.mandatory.field' | translate}}
                </span>
				<span class="help-block" ng-show="personForm.$submitted && personForm.age.$error.pattern">
                  {{'persons.error.number.field' | translate}}
                </span>
            </div>

        </div>

        <div class="form-group">
            <label for="nick" class="control-label col-xs-2">{{'persons.list.nick' | translate}}</label>
            <div class="col-xs-10" ng-class="{ 'has-error' : personForm.$submitted && !personForm.nick.$valid }">
                <input type="text" ng-model="vm.person.nick" class="form-control" name="nick" placeholder="Nick" required/>
				<span class="help-block" ng-show="personForm.$submitted && personForm.nick.$invalid">
                  {{'persons.error.mandatory.field' | translate}}
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="employee" class="control-label col-xs-2">{{'persons.list.employee' | translate}}</label>
            <div class="col-xs-10">
                <div class="checkbox">
                    <input type="checkbox" name="employee" ng-model="vm.person.employee" ng-init="vm.person.employee=false">
                </div>
            </div>
        </div>



        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" id="submit">{{'persons.button.save' | translate}}</button>
            <button type="button" class="btn" ng-click="$dismiss()">{{'persons.button.cancel' | translate}}</button>
        </div>
</form>
